In [2]:
import numpy as np
import pandas as pd
import os
from pycaret.classification import *

from dotenv import load_dotenv
load_dotenv()

True

In [3]:
data_loc='../data1'
test_data=pd.read_csv(os.path.join(data_loc,'RainfallTest.csv'))

In [4]:
test_data.shape

(46, 24)

In [5]:
model_loc='./model/Rainfallclassymodel'
prediction=load_model(model_loc)

predict_res=predict_model(estimator=prediction,data=test_data)

Transformation Pipeline and Model Successfully Loaded

In [6]:
predict_res.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Label,Score
0,2008-12-12,Albury,15.9,21.7,2.2,NaN,NaN,NNE,31,NE,ENE,15.0,13,89,91,1010.5,1004.2,8.0,8.0,15.9,17.0,Yes,15.6,Yes,Yes,0.9577
1,2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,W,61,NNW,NNW,28.0,28,76,93,994.3,993.0,8.0,8.0,17.4,15.8,Yes,3.6,Yes,Yes,0.9905
2,2008-12-14,Albury,12.6,21.0,3.6,NaN,NaN,SW,44,W,SSW,24.0,20,65,43,1001.2,1001.8,NaN,7.0,15.8,19.8,Yes,0.0,No,No,0.7906
3,2008-12-16,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50,NaN,WNW,NaN,22,50,28,1013.4,1010.3,0.0,NaN,17.3,26.2,NaN,0.0,No,No,0.7234
4,2008-12-17,Albury,14.1,20.9,0.0,NaN,NaN,ENE,22,SSW,E,11.0,9,69,82,1012.2,1010.4,8.0,1.0,17.2,18.1,No,16.8,Yes,Yes,0.7372

In [7]:
import chart_studio
import chart_studio.tools as tls
import chart_studio.plotly as py
import plotly.express as px

tls.set_credentials_file(os.getenv('USERID'),os.getenv('APIKEY'))

In [8]:
label_info = pd.DataFrame(predict_res['Label'].value_counts().reset_index().values, columns=["Label", "No. of Data"])

In [16]:
print(label_info)

  Label No. of Data
0    No          38
1   Yes           8

In [21]:
plot1=px.pie(label_info,names=label_info['Label'],values=label_info['No. of Data'],title="Prediction result")
fig=py.plot(plot1,filename="Prediction result",open=False)
tls.get_embed(fig)

'<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~prabu/1.embed" height="525" width="100%"></iframe>'